.flashes h4 {
    line-height: 2;
}

body {
    background-image: url(../images/italian-food.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

/*------------------ Navbar */

nav .brand-logo {
    margin-left: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: 600;
}

/*--------------- card on home page */

.container {
    height: 80vh;
}

.card-title h1 {
    font-family: 'Dancing Script', cursive;
}

.jumbotron-card {
    background-color:rgba(40, 40, 40, 0.4);
    color: white;
}

.italic {
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
}

/* ----------------------------------------------Footer */

.footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
    background-color: #494947;
    color: #ffffff;
    display: block;
    background-color: rgba(12, 12, 12, 0.7);
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

@media screen and (max-height: 500px) {
    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 330px) {
    .footer {
        padding-top: 5px;
        padding-bottom: 9px;
    }
}

/* -----------------------------All recipes page */

.recipe-card {
    background-color:rgba(40, 40, 40, 0.8);
}

.title {
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Courgette', cursive;
}

/* -----------------------------Login page */

.login-card {
    background-color:rgba(40, 40, 40, 0.6);
}

.new-here {
    margin-bottom: 0;
}