body {
    background-image: url(../images/italian-food.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*------------- Flash messages */

.flashes h4 {
    line-height: 2;
}
.flashes {
    margin-bottom: 0;
}

@media screen and (max-width: 500px) {
    .flashes h4 {
        font-size: 24px;
    }
}

/*------------------- Navbar */

nav .brand-logo {
    margin-left: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    nav .brand-logo {
        margin-left: 5px;
    }
}

.sidenav li>a {
    color: white;
}

.font-logo {
    font-family: 'Dancing Script', cursive;
}

/*----------- Card on home page */

.card-title h1 {
    font-family: 'Dancing Script', cursive;
}

@media screen and (max-width: 500px) {
    .card-title h1 {
        font-size: 3rem;
    }
    #jumbotron-card-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 330px) {
    .card-title h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 300px) {
    .card-title h1 {
        font-size: 2.2rem;
    }
}

.jumbotron-card {
    background-color:rgba(40, 40, 40, 0.4);
}

.italic {
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
}

#p-margin-bottom {
    margin-bottom: 10px;
}

/* -----------------------------Footer */

.page-footer {
    padding-top: 0;
    background-color: rgba(12, 12, 12, 0.7);
}

/* .footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
    background-color: #494947;
    color: #ffffff;
    display: block;
    background-color: rgba(12, 12, 12, 0.7);
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

@media screen and (max-height: 500px) {
    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 330px) {
    .footer {
        padding-top: 5px;
        padding-bottom: 9px;
    }
} */

/* -----------------------------All recipes page */

.recipe-card {
    background-color:rgba(40, 40, 40, 0.8);
}

@media screen and (max-width: 500px) {
    .card-padding {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.title {
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Courgette', cursive;
}

.card-margin-top {
    margin-top: 70px;
}

.card-margin-bottom {
    margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .card .card-title {
        font-size: 22px;
    }
    .card-margin-top {
        margin-top: 50px;
    }
    .title {
        margin-top: 10px;
        font-size: 34px;
    }
}

@media screen and (max-width: 330px) {
    .card .card-title {
        font-size: 18px;
    }
    .title {
        margin-top: 10px;
        font-size: 32px;
    }
}

@media screen and (max-width: 290px) {
    .card .card-title {
        font-size: 16px;
    }
}    

/* -----------------------------Login page */

.login-card {
    background-color:rgba(40, 40, 40, 0.6);
}

.new-here {
    margin-bottom: 0;
}

/* -----------------------------Profile page */

.add-new-recipe-btn {
    margin-bottom: 40px;
}

/* ----------------------Add new recipe page */

.card-width {
    width: 100%;
}

/* label color */
.input-field label {
    color: #e0e0e0;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field textarea[type=text]:focus + label {
    color: #e0e0e0;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field textarea[type=text]:focus {
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 1px 0 0 #e0e0e0;
    color: #e0e0e0;
  }

/* valid color */
.input-field input[type=text].valid,
.input-field textarea[type=text].valid {
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 1px 0 0 #e0e0e0;
    color:  #e0e0e0;
}

/* invalid color */
.input-field input[type=text].invalid,
.input-field textarea[type=text].invalid {
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 1px 0 0 #e0e0e0;
    color: #e0e0e0;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #e0e0e0;
}

.input-field .helper-text,
.dropdown-content li>a, .dropdown-content li>span,
.select-wrapper input.select-dropdown,
textarea.materialize-textarea,
.select-dropdown li.disabled, 
.select-dropdown li.disabled>span, 
.select-dropdown li.optgroup,
input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
    color: #e0e0e0;
}

.dropdown-content {
    background-color: rgba(40, 40, 40);
}

@media screen and (max-width: 500px) {
    .input-field .helper-text,
    .dropdown-content li>a, .dropdown-content li>span,
    .select-wrapper input.select-dropdown,
    textarea.materialize-textarea,
    .select-dropdown li.disabled, 
    .select-dropdown li.disabled>span, 
    .select-dropdown li.optgroup,
    input:not([type]), 
    input[type=text]:not(.browser-default), 
    input[type=password]:not(.browser-default), 
    input[type=email]:not(.browser-default), 
    input[type=url]:not(.browser-default), 
    input[type=time]:not(.browser-default), 
    input[type=date]:not(.browser-default), 
    input[type=datetime]:not(.browser-default), 
    input[type=datetime-local]:not(.browser-default), 
    input[type=tel]:not(.browser-default), 
    input[type=number]:not(.browser-default), 
    input[type=search]:not(.browser-default), 
    textarea.materialize-textarea {
        font-size: 14px;
    }
}    

/* ----------------------Buttons */
@media screen and (max-width: 500px){
    .btn-large {
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        padding: 0 12px;
    }
    .btn {
        font-size: 13px;
        padding: 0 12px;
    }
    
}




