<!-- Handle error 404 and display relevant web page -->

{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12" id="jumbotron-card-padding">
            <div class="card jumbotron-card">
                <div class="card-content white-text">
                    <div class="card-title logo center">
                        <h1>Sorry...</h1>
                    </div>
                    <p class="hometext center-align" id="p-margin-bottom">It looks like the page you are looking for does not exist.</p>
                </div>
                <div class="card-action center">
                    <a href="{{ url_for('index') }}" class="white-text grey darken-3 waves-effect waves-light btn">To Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}