{% extends "base.html" %}
{% block content %}

<div class="container valign-wrapper">
   <div class="row">
      <div class="col s10 offset-s1 valign">
         <div class="card jumbotron-card">
            <div class="card-content">
               <div class="card-title logo center">
                  <h1>Buon Appetito</h1>
               </div>
               <p class="hometext center-align">Welcome to <span class="italic">Buon Appetito</span>! The Italian Cuisine App to find, share and store new Italian recipes!</p>
            </div>
            {% if session.user %}
            <div class="card-action center">
               <a href="{{ url_for('get_recipes') }}" class="white-text grey darken-3 waves-effect waves-light btn">View All Recipes</a>
            </div>
            {% else %}
            <div class="card-action center">
               <a href="{{ url_for('login') }}" class="white-text grey darken-3 waves-effect waves-light btn">Log In</a>
               <a href="{{ url_for('register') }}" class="white-text grey darken-3 waves-effect waves-light btn">Register</a>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>

{% endblock %}